@model vertivina.Models.Servicio

@{
    ViewData["Title"] = "Details";


    
}

<h2>Detalles</h2>

<div style=" background-color:rgba(184, 210, 214, 0.788);">
    <h4>Promoción</h4>
    <br/>
    <div class="container">
    <div class="row">
      <div class="col-md-3">
         

      </div>
      <div class="col-md-3">
          <dl class="dl-horizontal">
              <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>
         <dt>
           Cualquier duda consulte aqui
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>
        
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
         <dt>
              @Html.DisplayNameFor(model => model.Mensaje)
        </dt>
        <dd>
             @Html.DisplayFor(model => model.Mensaje)
        </dd>

          </dl>
      </div>

    </div>

</div>

   

<div style=" padding-top:20px;">
    <div class="col-md-2">
        <form asp-action="Index">

        <input type="submit" value="De vuelta a la lista" class="btn btn-info"/>
    </form>

    </div>
     <div class="col-md-2">
        <form asp-action="Cita" asp-controller="Home">

             <input type="submit" value="Pedir cita"  class="btn btn-success"/>
    </form>

    </div>
    
    <br/>
   
   

    
</div>
