@model vertivina.Models.Servicio

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div style=" background-color:rgba(184, 210, 214, 0.788);">
    <h4>Promoción</h4>
    <br/>
    <div class="container">
    <div class="row">
      <div class="col-md-3">
          <img class="img-responsive" src="~/images/por-especie-perro.jpg" alt="...">

      </div>
      <div class="col-md-3">
          <dl class="dl-horizontal">
              <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>
         <dt>
             @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>
         <dt>
             @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
         <dt>
              @Html.DisplayNameFor(model => model.Mensaje)
        </dt>
        <dd>
             @Html.DisplayFor(model => model.Mensaje)
        </dd>

          </dl>
      </div>

    </div>

</div>

   

<div>
   
    <a asp-action="Index">De vuelta a la lista</a> |
    <a asp-controller="Home" asp-action="Cita">Crear Cita</a>
    
</div>
