@model IEnumerable<vertivina.Models.Cita>



@{
    ViewData["Title"] = "Lista de Citas registradas";


}

<style>
    .prise-box{width:100%;float:left;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;box-shadow: rgba(158,158,158,.61) 0 2px 5px 0;margin-bottom:10px;}
    .prise-box img{width:100%;border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;}
    .info-this{    float: left;   width: 100%;   background:#ececec;    padding: 15px;}
    .left-box{width: 70%;float:left;}
    .left-box a{
    background-color: #8d0104;
    color: #ffffff;
    padding: 4px 12px;
    font-size: 13px;
    margin-top: 6px;
    display: inline-block;
    }
    .left-box h2{
     font-weight: normal;
     margin:0px;
     padding:0px;
     color: #000;
     text-align: left;
     font-style:italic;
     font-size: 29px;
     margin: 0;
     margin-bottom: 0;
     margin-top: -10px;
    }
    .right-box-up{width: 30%;float:right;}
    .blue-box span{    font-size: 12px;
    margin: 4px 5px;
    color: #fffb5f;}
    .blue-box h2{margin: 2px 1px;
    font-size: 26px;
    color: #ffffff;
    font-weight: normal;}
    .blue-box{box-shadow: 1px 1px 4px #797979;
    background-color: #031f5d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 4px;
    text-align: center;
  
    width: 80px;
    float: right;
    margin-top: -29px;
    z-index: 999999;
    position: relative;}

</style>
<h2>@ViewData["Title"] </h2>
<div style="padding-bottom:20px;">
    <form asp-action="MenuUsuario">           
    <input type="submit" value="Regresar" class="btn btn-info"/>  
    </form>
</div>


<div class="container"> 
    <div class="row" style="background-color:whitesmoke; padding:15px;box-shadow: 0 0 20px green;"> 
        <div class="col-md-12"> 
            <form asp-action="ListaCita">
              <input type="text" name="SearchString" placeholder="Buscar Cita">
              <input type="submit" value="Buscar" />  
            </form>


        <table class="table">
            <thead>

             <tr>
                <th>
                    Nombre del Dueño
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mascota)
                </th>
                 <th>
                    Tipo de Mascota
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    Tipo de telefono
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Doctor)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.TipoCita)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.Hora)
                </th>
                 <th>
                    Direccion (De no haber es en el local)
                </th>
             </tr>
            </thead>
            <tbody>    
        @foreach (var item in Model) {
            <tr>  

                <th>
                   @Html.DisplayFor(modelItem => item.Nombre)
                </th>
                 <th>
                   @Html.DisplayFor(modelItem => item.Mascota)
                </th>
                 <th>
                    @Html.DisplayFor(modelItem => item.TipoMascota)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.TipoTelefono)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Doctor)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.TipoCita)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </th>
                <th>
                     @Html.DisplayFor(modelItem => item.Hora)
                </th>
                <th>
                    
                </th>
                <th>
                    @if(item.Direccion!=null){
                        @Html.DisplayFor(modelItem => item.Direccion)
                    }else{
                         @Html.Display("En el local")
                    }

                </th>
                
             </tr>
        }

        </div>

    </div>

</div>    





