@model IEnumerable<vertivina.Models.Adopcion>

<style>
    .prise-box{width:100%;float:left;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;box-shadow: rgba(158,158,158,.61) 0 2px 5px 0;margin-bottom:10px;}
    .prise-box img{width:100%;border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;}
    .info-this{    float: left;   width: 100%;   background:#ececec;    padding: 15px;}
    .left-box{width: 70%;float:left;}
    .left-box a{
    background-color: #8d0104;
    color: #ffffff;
    padding: 4px 12px;
    font-size: 13px;
    margin-top: 6px;
    display: inline-block;
    }
    .left-box h2{
     font-weight: normal;
     margin:0px;
     padding:0px;
     color: #000;
     text-align: left;
     font-style:italic;
     font-size: 29px;
     margin: 0;
     margin-bottom: 0;
     margin-top: -10px;
    }
    .right-box-up{width: 30%;float:right;}
    .blue-box span{    font-size: 12px;
    margin: 4px 5px;
    color: #fffb5f;}
    .blue-box h2{margin: 2px 1px;
    font-size: 26px;
    color: #ffffff;
    font-weight: normal;}
    .blue-box{box-shadow: 1px 1px 4px #797979;
    background-color: #031f5d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 4px;
    text-align: center;
  
    width: 80px;
    float: right;
    margin-top: -29px;
    z-index: 999999;
    position: relative;}

</style>


<h2>Lista de adopciones registradas</h2>

<div style="padding-bottom:20px;">
    <form asp-action="MenuUsuario">           
    <input type="submit" value="Regresar" class="btn btn-info"/>  
    </form>
</div>
<body>
    <div class="container"> 
      <div class="row" style="background-color:whitesmoke; padding:15px;box-shadow: 0 0 20px blue;"> 
         <div class="col-md-12">
             <form asp-controller="Servicios" asp-action="Index">
            <p>
                 <input type="text" name="SearchString" placeholder="Buscar nombre">
                <input type="submit" value="Buscar" />
            </p>
            </form>

            <table class="table">
                <thead>
                     <tr>
                        <td>
                             Nombre del nuevo dueño
                        </td>
                        <td>
                             @Html.DisplayNameFor(model => model.Mascota)
                        </td>
                         <td>
                             @Html.DisplayNameFor(model => model.NombreMascota)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Telefono)
                        </td>
                        <td>
                            Tipo de telefono
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.email)
                        </td>
                        <td>
                             Fecha de adopcion
                        </td>
                        <td>
                             Ocupacion del dueño
                        </td>
                        <td>
                             @Html.DisplayNameFor(model => model.Direccion)
                        </td>
                        <td>
                             @Html.DisplayNameFor(model => model.Motivo1)
                        </td>
                         <td>
                             @Html.DisplayNameFor(model => model.Motivo2)
                        </td>
                         <td>
                            @Html.DisplayNameFor(model => model.Motivo3)
                        </td>

                     </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                     <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreDueño)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mascota)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreMascota)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => item.TipoTelefono)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => item.email) 
                        </td>
                        <td>
                          @Html.DisplayFor(modelItem => item.FechaAdop) 
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => item.Ocupacion) 
                        </td>
                        <td>
                          @Html.DisplayFor(modelItem => item.Direccion)  
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Motivo1)
                        </td>
                        <td>
                          @Html.DisplayFor(modelItem => item.Motivo2)  
                        </td>
                         <td>
                           @Html.DisplayFor(modelItem => item.Motivo3) 
                        </td>
                        

                     </tr>
                    }

                </tbody>
                
            </table>

         </div>
      </div>
    </div>

</body>