<link href="~/css/bootstrap.min.css" rel="stylesheet">
<link href="~/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/prettyPhoto.css" rel="stylesheet">
<link href="~/css/animate.css" rel="stylesheet">
<link href="~/css/main.css" rel="stylesheet">
<link href="~/css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="~/images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
<body>


<br><br>
	<section>
		<div class="container">
			<div class="row">							
				<div class="col-sm-9 padding-right" style="background-color:rgba(158, 233, 233, 0.788)">
					<div class="features_items">
						<h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Buscando novio o novia...</h2>
						
						<h3 class="title text-center"> Es muy importante que al contactarme me dejes tus datos ..me estaré comunicando...</h3>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									     <div id="imgcomunidad">
										     <img src="../images/home/BP_Mastin-napolitano.jpg" alt="" />
                                         </div>
							             <p><strong>Mastin-napolitano</strong></p>
								     </div>
                                     <ul>
										 <li>El mastín  napolitano  de Europa  desciende del Mastín </li>
                               			 <li>Tibetano,el más viejo exponente de la especie canina...</li>
                                		 <li>La palabra Mastín proviene del latín massivus, que </li>
                                		 <li><strong>Macho.</strong> 3 años</li>                               			 
                           			 </ul>
								 </div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								</div>
							</div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									     <div id="imgcomunidad">
										      <img src="../images/home/BP_Mastín-Tibetano.jpg" alt="" />
									     </div>
									    <p>Mastín-Tibetano</p>
										</div>
											<ul>
												<li>Calmado, suave, majestuoso y digno, pero con un alma  </li>
												<li>fiera si es necesario. Moloso  asiático  que ostenta </li>
												<li>el honor de ser el perro más exclusivo de Asia.</li>
												<li><strong>Macho.</strong> 3 años</li>                               			 
                           			 		 </ul>
									     </div>
								 <div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
										
									</ul>
								 </div>
							</div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									     <div id="imgcomunidad">
										      <img src="../images/home/BP_Collie.jpg" alt="" />
									     </div>
									     <p>Collie</p>
									 </div>  
										 <ul>
											<li>El Collie tiene su origen en las regiones frías del norte Escocia, igual que el Border Collie. </li>
											<li>El perro es muy docil y de raza pedigree. Es un compañero excelente fácil de adiestrar.</li>
											<li><strong>Hembra.</strong> 5 años</li>                               			 
                           			     </ul>
								     </div>
									 <div class="choose">
										<ul class="nav nav-pills nav-justified">
											<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
											<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
										</ul>
									 </div>
							 </div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									     <div id="imgcomunidad">
										     <img src="../images/home/BP_americanvhairlesss.jpg" alt="" />
									     </div>
									     <p>Americanvhairlesss</p>
									 </div>
									<img src="../images/home/sale.png" class="new" alt="" />
								 </div>
								<div class="choose">
										 <ul>
											<li>El Terrier americano sin pelo (American Hairless Terrier) </li>
											<li>es una raza poco común de perro, considerado una variante del terrier ratonero. </li>											
											<li><strong>Hembra.</strong> 4 años</li>                               			 
                           			     </ul>
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								 </div>
							 </div>
						 </div>

                        <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="../images/home/BP_Borzoi.jpg" alt="" />
									</div>											
										<p>Borzoi</p>
									</div>
								</div>
								<div class="choose">
										 <ul>
											<li>Borzoi es una raza de perro desarrollada en Rusia. El Borzoi desciende del galgo árabe </li>
											<li>siendo parecido a un perro ovejero ruso. </li>											
											<li><strong>Hembra.</strong> 3 años</li>                               			 
                           			     </ul>
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="../images/home/BP_BostonTerrier.jpg" alt="" />			
									</div>							
									<p>BostonTerrier</p>
									</div>
								</div>
								<div class="choose">
										 <ul>
											<li>El boston terrier es un perro pequeño, de constitución compacta y rasgos cuadrados. </li>
											<li>Tiene un hocico achatado, similar al Bulldog, sin piel plegada </li>											
											<li><strong>Macho.</strong> 3 años y medio</li>                               			 
                           			     </ul>
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="../images/home/BP_Boxer.jpg" alt="" />
									</div>
									<p>Boxer</p>
									</div>
								</div>
								<div class="choose">
										 <ul>
											<li>El perro bóxer (Deutscher Boxer),  </li>
											<li>también conocido como "bóxer alemán"o simplemente </li>											
											<li>"bóxer" es una de las razas caninas de tipo moloso más populares del mundo.</li>
											<li><strong>Macho.</strong> 3 años y medio</li>                               			 
                           			     </ul>

									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
								<div class="productinfo text-center">
								<div id="imgcomunidad">
									<img src="../images/home/BP_airedale-terrier.jpg" alt="" />
								</div>
								<p>Airedale-terrier</p>											
								</div>	
								</div>
								<div class="choose">
									<ul>
									   <li>Airedale terrier es una raza de perros grande y fuerte perteneciente al grupo</li>
									   <li>grande y fuerte perteneciente al grupo terrier. Es de origen británico de la región de Yorkshire </li>											
									   <li><strong>Hembra.</strong> 2 años y medio</li>                               			 
                           			 </ul>

									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								</div>
							</div>
						</div>


						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									    <div id="imgcomunidad">
										    <img src="../images/home/BP_beagle-the-pedigree.jpg" alt="" />
									    </div>
										<p>Beagle-the-pedigree</p>
									 </div>
								 </div>
								<div class="choose">
									<ul>
									   <li>El Beagle es un sabueso pequeño que se creó originalmente para el rastreo de liebres y conejos,</li>
									   <li>seguido por los cazadores a pie. Los Beagle cazaban en rehalas de 12 o 24 perros. </li>											
									   <li><strong>Hembra.</strong> 2 años </li>                               			 
                           			 </ul>

									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								</div>
							 </div>
						 </div>
 
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="../images/home/BP_BullTerrier.jpg" alt="" />
                                    </div>
										<p>BullTerrier</p>
									</div>
								</div>
								<div class="choose">
									<ul>
									   <li>El Bull terrier o bull terrier inglés es una raza canina de la familia de los terrier. Son conocidos</li>
									   <li>por la forma única de su cabeza y sus pequeños ojos en forma triangular </li>											
									   <li><strong>Macho.</strong> 2 años </li>                               			 
                           			 </ul>

									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								</div>
							</div>
						</div>


						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="../images/home/BP_Kerry-blue-terrier.jpg" alt="" />
									</div>
									<p>Kerry-blue-terrier</p>
									</div>
								</div>
								<div class="choose">
									<ul>
									   <li>La raza es originaria de la región montañosa de Kerry, en Irlanda. No existen referencias  </li>
									   <li>literarias de esta raza hasta antes del siglo XIX. y se dice que sus antecesores son los mismos que dieron origen al terrier irlandés </li>											
									   <li><strong>Macho.</strong> 2 años </li>                               			 
                           			 </ul>
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<div id="imgcomunidad">
										<img src="../images/home/BP_LabrelAfgano.jpg" alt="" />
									</div>
									<p>LabrelAfgano</p>
									</div>
								</div>
								<div class="choose">
									<ul>
									   <li>El Lebrel afgano es un perro de caza procedente de   </li>
									   <li>Afganistán. Tiene un pelaje característico, muy largo, fino y sedoso, que precisa de cuidados continuos ya que se enreda, llegando a perder su brillo </li>											
									   <li><strong>Macho.</strong> 2 años </li>                               			 
                           			 </ul>
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									    <div id="imgcomunidad">
										    <img src="../images/home/BP_schnauzer-miniatura.jpg" alt="" />
									     </div>
									     <p>Schnauzer-miniatura</p>
									 </div>
									 <img src="../images/home/new.png" class="new" alt="" />
								 </div>
								<div class="choose">
									<ul>
									   <li>El Schnauzer miniatura (en alemán: Zwergschnauzer) es una derivación del perro schnauzer estándar, surgido en Alemania en la segunda mitad del siglo XIX.  </li>
									   <li>Son compactos y musculosos tienen barba larga. </li>
									   <li><strong>Macho.</strong> 4 años </li>                               			 
                           			 </ul>
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								 </div>
							 </div>
						 </div>

						 
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<div id="imgcomunidad">
											<img src="../images/home/BP_American Staffordshire.jpg" alt="" />
										</div>
										<p>American Staffordshire</p>
									</div>
								</div>
								<div class="choose">
									<ul>
									   <li>Es una de las ocho razas "potencialmente peligrosas" según la legislación española.Es una raza que es por naturaleza sociable y que disfrutan la compañía humana. </li>
									   <li>Son protectores, especialmente de niños.  </li>
									   <li><strong>Macho.</strong> 4 años </li>                               			 
                           			 </ul>
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								 </div>
							 </div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<div id="imgcomunidad">
											<img src="../images/home/BP_Akita-Inu.jpg" alt="" />
										</div>
										<p>Akita-Inu</p>
									</div>
								</div>
								<div class="choose">
									<ul>
									   <li>Es una raza canina originaria de Japón, llamado así por la prefectura de Akita. Al inicio fue un perro de caza mayor  </li>
									   <li>y durante generaciones fue usado por los guerreros del Japón como perro de defensa y ataque, y también para cazar osos.  </li>
									   <li><strong>Macho.</strong> 2 años </li>                               			 
                           			 </ul>

									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								 </div>
							 </div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../images/home/BP_Basenji.jpg" alt="" />
										<p>Basenji</p>
									 </div>
								 </div>
								<div class="choose">
									<ul>
									   <li>El Basenji es una raza canina originaria del este de África. Es una raza primitiva empleada para la caza y el rastreo.  </li>
									   <li>Tienen la característica única de no ladrar, y en su lugar emiten un curioso sonido al estilo del Canto tirolés (Yodel).   </li>
									   <li><strong>Macho.</strong> 2 años </li>                               			 
                           			 </ul>
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								 </div>
							 </div>
						 </div>
					 </div>				

						<h3 class="title text-center"> Buscando pareja de GATOS...</h3>

						 <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="\wwwroot\images\home\Cat_abisinio.png" alt="" />
										<p>Abisinio</p>
									 </div>
								 </div>
								<div class="choose">
									<ul>
									   <li>El gato abisinio es una raza de gato. Es una raza popular debido a su apariencia física y su personalidad. </li>
									   <li>Este animal muestra una gran elegancia y armonía en sus movimientos.  </li>
									   <li><strong>Macho.</strong> 2 años </li>                               			 
                           			 </ul>
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								 </div>
							 </div>
						 </div>

						 <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="\wwwroot\images\home\Cat_angora_turco.png" alt="" />
										<p>Angora turco</p>
									 </div>
								 </div>
								<div class="choose">
									<ul>
									   <li>El angora ( Ankara kedisi) es una raza de gato doméstico. Los angora son la raza más antigua, originaria de la región de Ankara, en Turquía central.   </li>
									   <li>Así, muchos gatos comunes de pelo largo, o incluso mayassin pedigrí, se denominan erróneamente "angoras".    </li>
									   <li><strong>Macho.</strong> 2 años </li>                               			 
                           			 </ul>
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								 </div>
							 </div>
						 </div>

						 <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="\wwwroot\images\home\Cat_Azul ruso.png" alt="" />
										<p>Abisinio</p>
									 </div>
								 </div>
								<div class="choose">
									<ul>
									   <li>El azul ruso es una raza de gato de tamaño medio y pelo corto plateado, fácilmente distinguible de otras razas. </li>
									   <li>Es famoso por ser un gato inteligente y afectuoso, que disfruta el contacto con los humanos y es ideal para la vida en familia.   </li>
									   <li><strong>Macho.</strong> 2 años </li>                               			 
                           			 </ul>
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								 </div>
							 </div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<div id="imgcomunidad">
											<img src="../images/home/Cat_bosque_de_noruega.jpg" alt="" />
										</div>
										<p>Bosque_de_noruega</p>
									</div>
								</div>
								<div class="choose">
									<ul>
									   <li>El Bosque de Noruega (en noruego Norsk skogkatt o Norsk skaukaes) es una raza de gato endémica de los países escandinavos. </li>
									   <li>Actualmente tiene gran popularidad como felino doméstico en hogares de toda Europa.  </li>
									   <li><strong>Macho.</strong> 2 años </li>                               			 
                           			 </ul>

									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								 </div>
							 </div>
						 </div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<div id="imgcomunidad">
											<img src="../images/home/Cat_british_shorthair.jpg" alt="" />
										</div>
										<p>British shorthair</p>
									</div>
								</div>
								<div class="choose">
									<ul>
									   <li>El pelicorto inglés o British Shorthair es una raza de gato que desciende del cruce entre los gatos que llevaron a Britania los romanos y los nativos de la isla. </li>
									   <li>Estos gatos se protegen muy bien del clima británico por su pelaje doble e impermeable.  </li>
									   <li><strong>Macho.</strong> 2 años </li>                               			 
                           			 </ul>

									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								 </div>
							 </div>
						 </div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<div id="imgcomunidad">
											<img src="../images/home/Cat_gato _exotico.jpg" alt="" />
										</div>
										<p>Gato exotico</p>
									</div>
								</div>
								<div class="choose">
									<ul>
									   <li>El Gato exótico es una raza de gato que tiene la complexión del gato persa pero con el pelo corto. </li>
									   <li>Se obtuvo por hibridación del British Shorthair y el American shorthair con los persas, obteniéndose un gato de complexión robusta y pelo corto y denso.  </li>
									   <li><strong>Macho.</strong> 2 años </li>                               			 
                           			 </ul>

									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Mas Info.</a></li>
										<center><a style="text-align:center;">@Html.ActionLink("emparejalo ya", "Pareja", "Pareja")</a></center>
									</ul>
								 </div>
							 </div>
						 </div>


				 </div>
			 </div>
		 </div>
	 </section>

    <script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
	
 </body>